#announcement {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: black;
}

header {
  top:20px;
}

#content-nav {
  top: 70px
}

#content {
  top: 20px;
  position: relative;
}
.subhead {
  top: 20px;
}
